<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <connectionStrings>
    <!--<add name="SecurityEntities" connectionString="metadata=res://*/Security.Security.csdl|res://*/Security.Security.ssdl|res://*/Security.Security.msl;provider=System.Data.SqlClient;provider connection string='data source=eng1499;initial catalog=&quot;D:\NET 4\WORK\2T\T2T\T2T.WEB\APP_DATA\T2T.MDF&quot;;integrated security=True;multipleactiveresultsets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />-->
    <!--<add name="T2TDb" connectionString="data source=.;database=t2t;integrated security=True;multipleactiveresultsets=True;" providerName="System.Data.SqlClient" />-->
    <add name="T2TDb" connectionString="metadata=res://*/T2TDb.csdl|res://*/T2TDb.ssdl|res://*/T2TDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=T2T;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>