<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="SecurityEntities" connectionString="metadata=res://*/Security.Security.csdl|res://*/Security.Security.ssdl|res://*/Security.Security.msl;provider=System.Data.SqlClient;provider connection string='data source=eng1499;initial catalog=&quot;D:\NET 4\WORK\2T\T2T\T2T.WEB\APP_DATA\T2T.MDF&quot;;integrated security=True;multipleactiveresultsets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />-->
    <!--<add name="T2TDb" connectionString="data source=.;database=t2t;integrated security=True;multipleactiveresultsets=True;" providerName="System.Data.SqlClient" />-->
   <add name="T2TDb" connectionString="metadata=res://*/T2TDb.csdl|res://*/T2TDb.ssdl|res://*/T2TDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=T2T;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>