<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="ApplicationServices"
      connectionString="data source=.\R2;initial catalog=aspnetdb;user=sa;password=snalim"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="T2TEntities"
     connectionString="metadata=res://*/T2TModel.csdl|res://*/T2TModel.ssdl|res://*/T2TModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\R2;initial catalog=t2t;user=sa;password=snalim;multipleactiveresultsets=True;App=EntityFramework&quot;"
     xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <!--<add name="SecurityEntities"
     connectionString="metadata=res://*/Security.Security.csdl|res://*/Security.Security.ssdl|res://*/Security.Security.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\R2;initial catalog=t2t;user=sa;password=snalim;multipleactiveresultsets=True;App=EntityFramework&quot;"
     xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->
    <add name="MaterialDb"
   connectionString="metadata=res://*/Material.Material.csdl|res://*/Material.Material.ssdl|res://*/Material.Material.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\R2;initial catalog=t2t;user=sa;password=snalim;multipleactiveresultsets=True;App=EntityFramework&quot;"
   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="EquipmentDb"
   connectionString="metadata=res://*/Equipment.Equipment.csdl|res://*/Equipment.Equipment.ssdl|res://*/Equipment.Equipment.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\R2;initial catalog=t2t;user=sa;password=snalim;multipleactiveresultsets=True;App=EntityFramework&quot;"
   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.diagnostics>

    <sharedListeners>
      <add initializeData="D:\web_messages.svclog"  name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
        <filter type="" />
      </add>
      <add initializeData="D:\web_tracelog.svclog"
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>

</configuration>